@model IEnumerable<DemoApp.Models.Employee>

<h1>Details</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Department</th>
            <th>Date of Joining</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>@item.Departement</td>
            <td>@item.DateOfJoining.ToShortDateString()</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
        </tr>
        }
    </tbody>
</table>
